<div class="page-wrapper">
  <h4 *ngIf="loading" class="text-center spinner-wrapper">
    <i class="fa fa-spinner fa-spin"></i>
  </h4>
  <label *ngIf="!loading && movies && !error" class="page-site-map">
    Search results found: ({{moviesTotal}})
  </label>
  <div *ngIf="movies && movies.length > 0" class="movies-list">
    <div class="movie-item" *ngFor="let movie of movies | paginate: { itemsPerPage: 10, currentPage: page, totalItems: moviesTotal }" (click)="viewMovieDetail(movie)">
      <div class="img-thumbnail">
          <img src="{{movie.Poster}}" alt="{{movie.Title}}" onError="this.src='/assets/no_image.png'" class="img-responsive">
      </div>
      <div class="title">
        <label>{{movie.Title}}</label>
      </div>
    </div>
  </div>
  <div *ngIf="movies && movies.length > 0" class="pagination">
    <pagination-controls (pageChange)="onPaging(searchQuery, page = $event)" previousLabel="Prev" nextLabel="Next"></pagination-controls>
  </div>
  <h3 *ngIf="!loading && error && error.length > 0" class="error-banner text-center text-muted">{{error}}</h3>
</div>