.page-wrapper {
    position: relative;
    padding-top: 60px;
    background-color: rgba(255, 255, 255, 0.68);
}

.movies-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0px 0 10px;

    .movie-item {
        width: 200px;
        margin: 0 auto 20px;
        cursor: pointer;
        transition: transform ease 0.5s;

        &:hover {
            transform: scale(0.955);
        }

        .img-thumbnail {
            width: 100%;
            min-height: 260px;
        }
        .img-responsive {
            width: 100%;
            max-height: 260px;
        }
        .title {
            font-size: 16px;
            padding: 0 5px;
        }
    }
}

.error-banner {
    margin: 30px 0;
}