html {
    width: 100%;
    min-height: 100%;
}
body {
    height: 100%;
    position: relative;
    color: #1B2934;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-image: url('/assets/backgroundImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

app-search {
    width: 100%;
}

.spinner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0784313725490196);
    top: 0;
    margin: 0;
    display: flex;
    align-items: center;
    .fa-spinner {
        margin: auto;
        font-size: 80px;
    }
}

.page-site-map {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        color: #577994;
    }
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    text-align: center;
    width: 100%;
}

.page-wrapper {
    width: 100%;
    padding: 40px 0;
}
.ngx-pagination .current {
    background: #1b2934 !important;
}