// Brand
$brand-primary: #5dc4e2;
$brand-warning: #dc8d28;
$state-warning-text: $brand-warning;
$gray-light: #b4b2b2;

// Color
$orderly-blue: #60c4e1;
$display: #959595;
$inactive: #cecece;
$header-blue: #4eacc7;
$header-black: #43484c;
$header-positive: #4ec773;
$header-negative: #f45d5d;

// Typography


// Paths
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/" !default;

// Inputs
$input-border-focus:             $brand-primary !default;

// Buttons
$btn-default-color:              $brand-primary !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             $brand-primary !default;
