.wrapper {
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.body-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/assets/backgroundImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: -1;
}