.page-wrapper {
    position: relative;
    padding-top: 60px;
    background-color: rgba(255, 255, 255, 0.68);
}
.detail-page {
    padding: 0 20px;
    header {
        display: flex;
        
        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
            .poster {
                margin: 0px auto 30px !important;
            }
        }
        .poster {
            min-width: 250px;
            max-width: 250px;
            margin-right: 20px;
        }
        .info-wrapper {
            flex-grow: 1;
            .name {
                display: flex;
                margin: 0 0 10px;
                .title {
                    flex-grow: 1;
                }
                .rated {
                    display: flex;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background-color: indianred;
                    color: #fff;
                    font-size: 13px;
                    text-align: center;
                    span {
                        margin: auto;
                    }
                }
            }
            .movie-info {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .info-item {
                    margin: 0 20px 10px 0;
                    color: inherit;
                    min-width: 125px;
                    .fa {
                        margin-right: 3px;
                    }
                    label {
                        margin-right: 5px;
                    }

                    &:first-child {
                        margin-left: 0;
                    }                    
                }
            }
            .plot {
                padding: 15px 0;
                border-top: 1px solid #ddd;
            }
        }
    }
}