<div class="page-wrapper">
  <label *ngIf="returnUrl" class="page-site-map" (click)="goBackToSearch()">
    <i class="fa fa-chevron-left"></i>&nbsp;Back to search result
  </label>
  <h4 *ngIf="loading" class="text-center spinner-wrapper">
    <i class="fa fa-spinner fa-spin"></i>
  </h4>
  <div *ngIf="movie" class="detail-page">
    <header>
      <div class="poster">
        <img src="{{movie.Poster}}" alt="{{movie.title}}" onError="this.src='/assets/no_image.png'" class="img-responsive">
      </div>
      <div class="info-wrapper">
        <h3 class="name">
          <div class="title">{{movie.Title}}</div>
          <div class="rated">
            <span>{{movie.Rated}}</span>
          </div>
        </h3>
        <div class="movie-info">
          <div class="info-item">
            <i class="fa fa-film"></i>
            <label>Released Date:</label>
            <span>{{movie.Released}}</span>
          </div>
          <div class="info-item">
            <i class="fa fa-trophy"></i>
            <label>Awards:</label>
            <span>{{movie.Awards}}</span>
          </div>          
        </div>
        <div class="movie-info">
          <div class="info-item">
            <i class="fa fa-star"></i>
            <label>IMDB Rating:</label>
            <span>{{movie.imdbRating}}</span>
          </div>          
          <div class="info-item" *ngFor="let rating of movie.Ratings">
            <i class="fa fa-star"></i>
            <label>{{rating.Source}}:</label>
            <span>{{rating.Value}}</span>
          </div>
        </div>
        <p class="plot">{{movie.Plot}}</p>
        <div class="info-item">
          <label>Actors:</label>
          <span>{{movie.Actors}}</span>
        </div>
        <div class="info-item">
          <label>Director:</label>
          <span>{{movie.Director}}</span>
        </div>
        <div class="info-item">
          <label>Genre:</label>
          <span>{{movie.Genre}}</span>
        </div>
        <div class="info-item">
          <label>Language:</label>
          <span>{{movie.Language}}</span>
        </div>
        <div class="info-item">
          <label>Runtime:</label>
          <span>{{movie.Runtime}}</span>
        </div>
      </div>
    </header>
  </div>
  <h3 *ngIf="!loading && error && error.length > 0" class="error-banner text-center text-muted">{{error}}</h3>
  <h3 *ngIf="!loading && !error && !movie" class="error-banner text-center text-muted">Movie not found. Try another search</h3>
</div>