.movie-search-header {
    width: 100%;
    background-color: #1B2934;
    padding: 30px 0;
    color: #fff;
    h3 {
        margin: 0 0 20px;
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                color: #cecece;
            }
        }
    }
}

.search-content {
    background-color: #ffffffeb;
}

.form-control {
    height: 44px;
    font-size: 16px;
}

.no-margin {
    margin: 0 !important;
}

.input-group {
    display: flex;
    button {
        height: 44px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: #fff;
        background-color: #c24206;
        border-color: #c24206;
        outline: none;
    }
}