<div class="movie-search-header">
  <h3 class="text-center">
    <a [routerLink]="['/']"><i class="fa fa-database"></i>&nbsp;Entertainment DB</a>
  </h3>
  <div class="row no-margin">
    <div class="col-md-8 col-md-offset-2"> 
      <form (ngSubmit)="onSearch(search)">  
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" placeholder="Search movies, tv series, games, music by title">
          <div class="input-group-append">
            <button type="button" class="btn btn-success" type="button" (click)="onSearch(search)">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>   
    </div>
  </div>
</div>

<div class="search-content">
  <router-outlet></router-outlet>
</div>
